

.productsContainer {
    /*max-width: 1170px;*/
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 100px;
}

.productsContainer .productCard .cardTitle {
    font-size: 1rem;
    font-weight: 600;
}

.productsContainer .productCard .cardPrice {
    font-size: 1.1rem;
    font-weight: 600;
}

.productsContainer .productCard .orderButton {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.productsContainer .productCard .productCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}


.productsContainer .productCard .image-container{
    padding: 0 0;
    margin: 0 0 20px 0;
}


.productsContainer .productCard img {
    width: 160px;
    height: 180px;
    object-fit: cover;
    border-radius: 3px;
    position: absolute;
}

.image-indicator-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    height: 170px;
    justify-items: end;
    z-index: 1;
}

.image-indicator {
    width: 35px;
    height: 171px;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    opacity: 0;
}

.chose-pic{
    margin-top: auto;
    height: 7px;
    width: 35px;
    background-color: #ece5ed;
    border-radius: 5px;
    opacity: 0.2;
}

.image-indicator-container:hover > .image-indicator{
    opacity: 0.5;
    border-radius: 5px;
}

.image-indicator:hover > .chose-pic{
    opacity: 0.8;
    border-radius: 5px;
}